.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 4rem 2rem 4rem;
  min-height: 100vh;
}

.main>h1 {
  font-size: 2rem;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  color: rgba(var(--foreground-rgb));
}

.periodicTableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.periodicTable {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.inputArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--input-background-rgba));
  border: 1px solid rgba(var(--input-border-rgba));
  padding: 1rem;
  border-radius: 10px;
}

.inputArea>.inputRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;

}

.inputArea>textarea {
  height: 4rem;
}

.targetInput>label {
  margin-right: .5rem;
}

.currentSumOutput {
  display: contents;
}

.underTarget {
  font-weight: bolder;
  color: color-mix(in srgb, rgba(var(--light-rgb)) 45%, rgba(var(--underTarget-rgba)));
}

.overTarget {
  font-weight: bolder;
  color: color-mix(in srgb, rgba(var(--light-rgb)) 65%, rgba(var(--overTarget-rgba)));
}

.correct {
  font-weight: bolder;
  color: color-mix(in srgb, rgba(var(--light-rgb)) 65%, rgba(var(--correct-rgba)));
}